*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Segone UI';
    min-height: 100vh;
    background: linear-gradient(135deg,#4a4a4a 100%);
    display: flex;
    flex-direction: column;
    position: relative;

}
 .navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 40px 20px;
    flex-wrap: wrap;
 }
  .navigation-buuton {
    background-color: rgba(255, 255, 255, 0.85);
    color: blueviolet;
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    text-align: center;

  }
   .profile-contener {
    background-color: rgba(255, 255, 255, 0.85);
    color: blueviolet;
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    text-align: center;

  }

  .navigation-buuton {
    background-color: rgba(255, 255, 255, 0.85);
    color: blueviolet;
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    text-align: center;

  }

   .navigation-buuton {
    background-color: rgba(255, 255, 255, 0.85);
    color: blueviolet;
    text-decoration: none;
    padding: 18px 50px;
    border-radius: 50px;
    font-size: 1.2rem;
    font-weight: 500;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    min-width: 180px;
    text-align: center;

  }